*{
margin: 0;
padding:0;
box-sizing: border-box;
}
#nav2{
position: absolute;
width:91.95rem;
height: 3.55rem;
left: 0rem;
top: 0rem;
background: #DB0007;
z-index:2;
overflow-x:hidden;
}
#homelogo{
position: absolute;
width: 2.749rem;
height: 2.749rem;
left:2.977rem;
top: 0.3rem;
}
#profile{
    position: absolute;
   border-radius: 50%;
   width:1.87rem;
   height:1.87rem;
    left: 84.36rem;
    top: 0.8125rem;
    background:
    #C4C4C4;
}
#searchbar{
position: absolute;
width: 22.94rem;
height: 2.18rem;
left: 9.96rem;
top: 0.6875rem;
background: linear-gradient(90.27deg, rgba(255, 255, 255, 0.35) 0.23%, rgba(255, 255, 255, 0.133) 100%);
border-radius: 0.625rem;
}
#text1{
position: absolute;
width: 3.30rem;
height: 1.558rem;
left: 40.37rem;
top: 1.017rem;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 1.121rem;
line-height: 1.558rem;
color: #FFFFFF;
}
#text2{
position: absolute;
width: 6.624rem;
height: 1.558rem;
left: 46.215rem;
top: 1.017rem;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 1.121rem;
line-height: 1.558rem;
color: #FFFFFF;
}
#text3{
position: absolute;
width:4.99rem;
height: 1.558rem;
left: 55.123rem;
top: 1.017rem;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 1.121rem;
line-height: 1.558rem;
color: #FFFFFF;
}
#cart{
    position: absolute;
    top: 0.744rem;
    left: 79.4rem;
}
#search{
 position: absolute;
width: 1.5rem;
height: 1.5rem;
left:30.625rem;
top: 1rem;
}
@media(min-width:1280px) and (max-width:1280px){
  #nav2{
    width:182vh;
  }  
}
@media(min-width:1024px) and (max-width:1024px){
    #nav2{
      width:235vh;
    }  
  }
  @media (min-width:540px ) and (max-width:540px){
    #nav2{
        width:198vh;
    }
  }
  @media (min-width:912px) and (max-width:912px){
    #nav2{
        width:103vh;
    }
  }
  @media (min-width:768px) and (max-width:768px){
    #nav2{
        width:137vh;
    }
  }
  @media (min-width:820px) and (max-width:820px){
    #nav2{
        width:120vh;
    }
  }
  /* @media (max-width:1440)and (min-width:1440px){
    nav{
        width:90.35rem;
    }
  } */