*{
    margin:0;
    padding:0;
    /* overflow-x:hidden; */
    box-sizing: border-box;
}
body{
    background: #121212;
}
#circle1{
position: absolute;
width:23.1737rem;
height: 23.1737rem;
left:100px;
left: 71.9225rem;
top: -6.875rem;
border-radius: 50%;
background: linear-gradient(180deg, #269100 0%, #FFBC0D 0.01%, #9A6F00 98.44%);
transform: rotate(30deg);
overflow-x:hidden;
}
#rect{
box-sizing: border-box;
position: absolute;
width: 31.25rem;
height: 31.25rem;
left: 52.625rem;
top: 6.75rem;
z-index:2;
border:0.5px solid rgba(255,255,255,0.5);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0.55%, rgba(255, 255, 255, 0) 100%);
backdrop-filter: blur(1.131rem);
border-radius: 2.75rem;
}
#circle2{
position: absolute;
width: 15.55rem;
height: 15.55rem;
left:44.65rem;
top: 26.875rem;
background: linear-gradient(180deg, #9A6F00 0%, #FFBC0D 98.44%);
transform: rotate(30deg);
border-radius: 50%;
overflow-x:hidden;
}
#burger{
    position: absolute;
width: 35.3125rem;
height: 34.1875rem;
left: 43.625rem;
top: 5.625rem;
z-index:2;
}
#get{
position: absolute;
width:37.1875rem;
height: 8.875rem;
left: 5.625rem;
top: 11.25rem;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 3.25rem;
line-height:4.4375rem;
color: #FFFFFF;
}
#text{
    position: absolute;
width: 32.125rem;
height: 6.25rem;
left: 5.625rem;
top: 21.5rem;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 1.125rem;
line-height: 1.5625rem;
color: #FFFFFF;
}
#orderbtn{
position: absolute;
padding:0.625rem 1.25rem;
left: 5.625rem;
top: 29.125rem;
background: #DB0007;
border-radius: 2.09rem;
 color: #FFBC0D;
 cursor:pointer;
}
#contact1{
    position:relative;
    margin-top:90rem;
}
#locateor{
    text-align: center;
    margin-top:10px;
    font-weight: 900;
  font-size: 1.17rem;
  color:white;
  margin-bottom:20px;
}
#locatemebtn{
    cursor: pointer;
    margin-top:10rem;
    width: 12.492rem;
    height: 2.481rem;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    color:white; 
    text-align: center;
    margin-left:170px;
}
#donebtn{
    padding:0.7rem;
    border-radius: 0 5px 5px 0 ;
    position:absolute;
    left:1030px;
    top:186px;
    border:none;
}