
#loginpage{
  height:580px;
  width:620px;
  margin-top:120px;
  margin-left:140px;
  border-radius:20px 0 0 20px;
  
}
#auth {
  position: absolute;
  left:50rem;
  width: 26.1rem;
  height: 22.827rem;
  top: 15.88rem;
}
.password {
  position: absolute;
 border-radius:0.5rem;
  top: 7rem;
  height: 3rem;
  width: 23.94rem;
  padding-left:0.875rem;
  background-color: rgba(0,0,0,0);
  left: 0.875rem;
  color:white;
}
.email {
  position: absolute;
 border-radius:0.5rem;
  top: 1.73rem;
  height: 3rem;
  width: 23.94rem;
  padding-left:0.875rem;
  background-color: rgba(0,0,0,0);
  left: 0.875rem;
  color:white;
}
#error1 {
  position: absolute;
  top: 5rem;
  font-size: 0.9rem;
  color:rgba(255,255,255,0.8);
  left: 2rem;
  font-weight: bold;
  display:none;
}
#eye {
  position: absolute;
  z-index: 2;
  top: 8rem;
  right: 1.2rem;
  color:white;
}
.loginbtn {
  position: absolute;
  cursor: pointer;
  width: 12.492rem;
  top: 12.40rem;
  left: 7.65rem;
  height: 2.481rem;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  color:white;
}
#frg {
  position: absolute;
  text-align: center;
  top: 16.37rem;
  left: 8.1rem;
  font-weight: 900;
  font-size: 1.17rem;
  text-decoration: none;
  color: white;
}
#backgrey{
  position: absolute;
width: 550px;
height: 580px;
left: 760px;
top: 120px;
background: linear-gradient(135.87deg, rgba(255, 255, 255, 0.4) -37.26%, rgba(255, 255, 255, 0) 99.84%);
border: 2px solid rgba(18, 18, 18, 0.53);
border-radius:0 20px 20px 0px;
}
#mssg {
  position: absolute;
  top: 19.34rem;
  font-weight: 900;
  font-size: 1.17rem;
  left: 6.3rem;
  color:rgba(255,255,255,0.6);
}
#mssg a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#log {
  position: absolute;
  top: -6rem;
  left: 59.55rem;
  color: #ffffff;
  font-size: 2.52rem;
}
#backend{
  position:absolute;
  top:15rem;
  left:57.2rem;
  width:500px;
  color:rgba(255,255,255,0.6);
  font-size: 1.71rem;
}
/* #logs1 {
  position: absolute;
  width: 50vw;
  height: 70vh;
  left: 0px;
  top: 14vw;
}*/

 #error2 {
  position: absolute;
  font-size: 1vw;
  top: 17vh;
  color: #db0007;
  left: 1.5vw;
  font-weight: bold;
  display:none;
} 
#areu{
  color:white;
}
@media (max-width:500px){
  #loginpage{
    display:none;
  }
  #backgrey{
    width:1000px;
    height:1100px;
    left:240px;
    top:470px;
    border-radius:20px;
  }
  #log{
    font-size:6rem;
    top:18rem;
    left:37rem; 
  }
  #auth {
    left:23rem;
    top: 45.88rem;
  }
  .email {
    top: 1.73rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  .password {
    top: 12rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  #eye {
    position: absolute;
    z-index: 2;
    top: 13.4rem;
    right: -16rem;
    color:white;
    font-size:2rem;
  }
  #error1 {
    top: 7rem;
    font-size: 2rem;
    width:700px;
    left: 3rem;
  }
  .loginbtn {
    width: 20.492rem;
    top: 22.40rem;
    left: 13.65rem;
    font-size:2rem;
    height: 4.481rem;
  }
  #frg {
    top: 30.37rem;
    left: 5rem;
    font-size: 3rem;
    width:600px;
  }
  #mssg {
    top:38.34rem;
    font-size: 3rem;
    left: 5.3rem;
    width:800px;
  }
  #backend{
    top:41rem;
    left:35.2rem;
    width:500px;
    font-size:3rem;
  }
}
@media (min-width:1024px) and (max-width:1024px){
  #log{
    top:-3rem;
  }
}
@media (min-width:912px) and (max-width:912px){
  #log{
    top:-19rem;
  }
}
@media (min-width:768px) and (max-width:768px){
  #log{
    top:-12rem;
  }
}
@media (min-width:820px) and (max-width:820px){
  #log{
    top:-16rem;
  }
}
@media (min-width:414px) and (max-width:414px){
  #log{
    top:12rem;
  }
}
@media (min-width:390px) and (max-width:390px){
  #log{
    top:12rem;
  }
}
@media (min-width:393px) and (max-width:393px){
  #log{
    top:12rem;
  }
}
@media (min-width:412px) and (max-width:412px){
  #log{
    top:12rem;
  }
}
@media(max-width:320px){
  #backgrey{
  left: 60px;
  }
  #auth {
    left:10rem;
    top: 45.88rem;
  }
  #log{
    left:25rem; 
  }
  #backend{
    left:23.2rem;
  }
}