#auth4 {
    position: absolute;
  left: 60vw;
  width:25vw;
  height:35vh;
  top: 38vh;
  background: rgba(255, 204, 204, 0.4);
border: 2px solid rgba(18, 18, 18, 0.53);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
border-radius: 40px;
}
#log3 {
  position: absolute;
  bottom: 68vh;
  left: 62vw;
  font-size: 2.8vw;
  color: #DB0007;
}
#errors6 {
  position: absolute;
  top: 13vh;
  color:#DB0007;
  font-size: 1vw;
  left: 1.5vw;
  font-weight: bold;
}
#enters{
    position:absolute;
    font-size: 1vw;
}
#otp{
    position: absolute;
    padding-left: 1vw;
  border-radius: 5vh;
  top: 7vh;
  height: 5vh;
  width: 22.6vw;
  background-color: white;
  left: 1vw; 
}
#verify{
    position: absolute;
    cursor: pointer;
    width: 13.88vw;
    top: 17vh;
    left: 5.5vw;
    height: 5vh;
    background: rgba(219, 0, 7, 0.2);
    border: 1px solid #db0007;
    border-radius: 45px;
    color: #db0007;  
}
#otpp{
    position: absolute;
    top: 25vh;
    font-weight: 900;
    font-size: 1.3vw;
    left:5vw;
}
#resend{
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: bold;
    background-color:rgba(247, 107, 107, 0.1);
    border:0
}
#enters{
    position:absolute;
    font-weight: 900;
    font-size: 1.2vw;
    left:1vw;
    top:1.5vh;
}
@media (max-width:600px){
    #logs {
        position: absolute;
        width: 100vw;
        top: 45vh;
        left: 0px;
      } 
      #hungry {
      display:none;
      }
      #order{
     display:none;
      }
      #auth4 {
        left: 10vw;
        width: 79vw;
        height: 30vh;
        top: 25vh;
      }
      #log3 {
        position: absolute;
        top: -21vh;
        left: 15vw;
        font-size: 9vw;
        z-index: 2;
      }
      #otp {
        width:70vw;
        left:4vw;
      }
      #verify{
        width:40vw;
        left:20vw;
      }
      #errors6 {
        top:12vh;
        font-size: 3.5vw;
        left: 5.5vw;
      }
      #enters{
        font-size: 4vw;
        left:2vw;
    }
    #otpp{
        top:24vh;
        font-size: 4.5vw;
        left: 14vw;
    }
    #resend{
      text-decoration: none;
      font-size: 4.5vw;
      font-weight: bold;
      background-color:rgba(247, 107, 107, 0.1);
      border:0
  }
      
}
