#auth4 {
    position: absolute;
  left:52.2rem;
  width:22.5rem;
  height:17.36rem;
  top:18.87rem;
}
#log3 {
  position: absolute;
 top: -2.48rem;
  left: 52.2rem;
  font-size: 2.52rem;
  color: #ffffff;
  width:400px;
}
#otp{
  position: absolute;
 border-radius:0.5rem;
  top: 3rem;
  height: 3rem;
  width: 23.94rem;
  padding-left:0.875rem;
  background-color: rgba(0,0,0,0);
  left:0rem;
  color:white;
}
#verify{
  position: absolute;
  cursor: pointer;
  width: 12.492rem;
  top: 8.40rem;
  left: 6.4rem;
  height: 2.481rem;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  color:white;
}
#otpp{
    position: absolute;
    top: 12.9rem;
    font-weight: 900;
    font-size: 1.17rem;
    left:5.5rem;
    color:rgba(255,255,255,0.6);

}
#resend{
    text-decoration: none;
    font-size: 1.17rem;
    font-weight: bold;
    border:0;
}
/* #enters{
    position:absolute;
    font-weight: 900;
    font-size: 1.2vw;
    left:1vw;
    top:1.5vh;
} */
#backendmssg{
  position:absolute;
  top:18.5rem;
  left:58.05rem;
  width:300px;
  color:rgba(255,255,255,0.6);
  font-size: 1.71rem;
}
@media (max-width:500px){

  #log3{
    font-size:6rem;
    top:20rem;
    left:15rem; 
    width:1000px;
  }
  #auth4 {
    left:23rem;
    top: 50.88rem;
  }
  #otp {
    top: 1.73rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  #verify {
    width: 20.492rem;
    top: 13.40rem;
    left: 13.65rem;
    font-size:2rem;
    height: 4.481rem;
  }
  #otpp {
    top: 23.37rem;
    left: 4rem;
    font-size: 3rem;
    width:700px;
  }
  #resend{
   font-size:3rem;
  }
  #backendmssg{
    top:44rem;
    left:35.2rem;
    width:500px;
    font-size:3rem;
  }
}
