#auth4{
    position:absolute;
    background-color: white;
    border:2px solid black;
    border-radius:1%;
    left:820px;
    width:320px;
    height:300px;
    top:250px;
}
#log3{
    position:absolute;
    top:-100px;
    left:865px;
    color:black;
}
#errors6{
    position: absolute;
    top:100px;
    color:rgb(233, 89, 89);
    left:15px;
    font-weight: bold; 
}
/* @media (max-width:700px){
    #auth4{
        width:60vw;  
    } 
} */

p{
    text-align: center;
    padding:5px;
    margin-top:1vh;
    font-weight: bold;
    font-size: 15px;
}