#pgbox{
  height:500px;
  width:500px;
  background-color: #ffffff;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left:20px;
}

#log5{
    position: absolute;
  top: -4rem;
  left: 52rem;
  color: #ffffff;
  font-size: 2.52rem;
  width:400px;
}
#authed{
  position: absolute;
  left: 51rem;
  width: 23rem;
  top: 19rem;
  height:20rem;
}
#pwdbtn{
  position: absolute;
  cursor: pointer;
  width: 12.492rem;
  top: 14.40rem;
  left: 7.65rem;
  height: 2.481rem;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  color:white;
}
#pwd{
  position: absolute;
 border-radius:0.5rem;
  top: 1.5rem;
  height: 3rem;
  width: 23.94rem;
  padding-left:0.875rem;
  background-color: rgba(0,0,0,0);
  left: 0.875rem;
  color:white;
}
#repwd{
  position: absolute;
  border-radius:0.5rem;
   top: 7rem;
   height: 3rem;
   width: 23.94rem;
   padding-left:0.875rem;
   background-color: rgba(0,0,0,0);
   left: 0.875rem;
   color:white;
}
#eyes1{
    position: absolute;
    top: 2.5rem;
    right:-1rem;
    z-index: 2;
    color:white;
}
#eyes2{
    position: absolute;
    top: 8.1rem;
    right:-1rem;
    z-index: 2;
    color:white;
}
#err3 {
  position: absolute;
  top: 10.5rem;
  color:rgba(255,255,255,0.6);
  font-size: 1vw;
  left: 2rem;
  font-weight: bold;
  display:none;
}

#err2 {
  position: absolute;
  top: 8.5vh;
  color:#DB0007;
  font-size: 1vw;
  left: 1.5vw;
  font-weight: bold;
  display:none;
}

#backend1{
  position:absolute;
  top:17rem;
  left:55rem;
  width:400px;
  color:rgba(255,255,255,0.6);
 font-size: 1.47rem;
}
@media (max-width:500px){
  #log5{
    font-size:6rem;
    top:18rem;
    left:15rem; 
    width:1000px;
  }
  #authed {
    left:23rem;
    top: 50.88rem;
  }
  #pwd {
    top: 1.73rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  #repwd {
    top: 12rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  #eyes1 {
    position: absolute;
    z-index: 2;
    top: 3.4rem;
    right: -18rem;
    color:white;
    font-size:2rem;
  }
  #eyes2 {
    position: absolute;
    z-index: 2;
    top: 13.4rem;
    right: -18rem;
    color:white;
    font-size:2rem;
  }
  #err3 {
    top: 18rem;
    font-size: 2rem;
    width:700px;
    left: 3rem;
  }
  #pwdbtn {
    width: 20.492rem;
    top: 25.40rem;
    left: 13.65rem;
    font-size:2rem;
    height: 4.481rem;
  }
  #backend1{
    top:45rem;
    left:29.2rem;
    width:700px;
    font-size:3rem;
  }
}