#log5{
    position: absolute;
  bottom: 65vh;
  left: 62vw;
  color: #db0007;
  font-size: 2.8vw;
}
#pwdbtn{
    position: absolute;
  cursor: pointer;
  width: 13.88vw;
  top: 22vh;
  left: 5.5vw;
  height: 5vh;
  background: rgba(219, 0, 7, 0.2);
  border: 1px solid #db0007;
  border-radius: 45px;
  color: #db0007;
}
#pwd{
    position: absolute;
  border-radius: 5vh;
  top: 3.5vh;
  height:5vh;
  width: 22.6vw;
  padding-left:1vw;
  background-color: white;
  left: 1vw;
}
#repwd{
    position: absolute;
    border-radius: 5vh;
    top: 12vh;
    height:5vh;
    padding-left:1vw;
    width: 22.6vw;
    background-color: white;
    left: 1vw;
}
#eyes1{
    position: absolute;
    top: 5vh;
    right:2vw;
    z-index: 2;
}
#eyes2{
    position: absolute;
    top: 13.7vh;
    right:2vw;
    z-index: 2;
}
#authed{
    position: absolute;
    left: 60vw;
    width: 25vw;
    height: 35vh;
    top: 40vh;
    background: rgba(255, 204, 204, 0.4);
    border: 2px solid rgba(18, 18, 18, 0.53);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
}
#err2 {
  position: absolute;
  top: 8.5vh;
  color:#DB0007;
  font-size: 1vw;
  left: 1.5vw;
  font-weight: bold;
  display:none;
}
#err3 {
  position: absolute;
  top: 17vh;
  color:#DB0007;
  font-size: 1vw;
  left: 1.5vw;
  font-weight: bold;
  display:none;
}
@media (max-width:600px){
  #logs {
      position: absolute;
      width: 100vw;
      top: 45vh;
      left: 0px;
    } 
    #hungry {
    display:none;
    }
    #order{
   display:none;
    }
    #authed {
      left: 10vw;
      width: 79vw;
      height: 30vh;
      top: 25vh;
    }
    #log5 {
      position: absolute;
      bottom: 79vh;
      left: 15vw;
      font-size: 9vw;
      z-index: 2;
    }
    #pwd {
      width:70vw;
      left:4vw;
    }
    #repwd {
      width:70vw;
      left:4vw;
    }
    #pwdbtn{
      width:40vw;
      left:20vw;
    } 
    #eyes1{
     
      right:6vw;
   
  }
  #eyes2{
     
      right:6vw;

  }
}
