#log5{
    position: absolute;
  top: -10vh;
  left: 62vw;
  color: #db0007;
  font-size: 2.8vw;
}
#pwdbtn{
    position: absolute;
  cursor: pointer;
  width: 13.88vw;
  top: 22vh;
  left: 5.5vw;
  height: 5vh;
  background: rgba(219, 0, 7, 0.2);
  border: 1px solid #db0007;
  border-radius: 45px;
  color: #db0007;
}
#pwd{
    position: absolute;
  border-radius: 5vh;
  top: 3.5vh;
  width: 22.6vw;
  padding:0.7vw;
  background-color: white;
  left: 1vw;
}
#repwd{
    position: absolute;
    border-radius: 5vh;
    top: 12vh;
    padding:0.7vw;
    width: 22.6vw;
    background-color: white;
    left: 1vw;
}
#eyes1{
    position: absolute;
    top: 5vh;
    right:2vw;
    z-index: 2;
}
#eyes2{
    position: absolute;
    top: 13.7vh;
    right:2vw;
    z-index: 2;
}
#authed{
    position: absolute;
    left: 60vw;
    width: 25vw;
    height: 35vh;
    top: 40vh;
    background: rgba(255, 204, 204, 0.4);
    border: 2px solid rgba(18, 18, 18, 0.53);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
}