#auths {
  position: absolute;
  left: 51rem;
  width: 28rem;
  height: 26rem;
  top: 13rem;
}
#log1 {
  position: absolute;
  top: -8.5rem;
  width:400px;
  left: 51.5rem;
  color:#ffffff;
  font-size: 2.52rem;
}
#eye1 {
  position: absolute;
  top: 13.3rem;
  right:3rem;
  z-index: 2;
  color:white;
}
#eye2 {
  position: absolute;
  top: 18.4rem;
  right: 3rem;
  z-index: 2;
  color:white;
}
.fullname{
  position: absolute;
  border-radius:0.5rem;
   top: 1.73rem;
   height: 3rem;
   width: 23.94rem;
   padding-left:0.875rem;
   background-color: rgba(0,0,0,0);
   left: 0.875rem;
   color:white;
}
.emails{
  position: absolute;
  border-radius:0.5rem;
   top: 7rem;
   height: 3rem;
   width: 23.94rem;
   padding-left:0.875rem;
   background-color: rgba(0,0,0,0);
   left: 0.875rem;
   color:white;
}
.passwords{
  position: absolute;
  border-radius:0.5rem;
   top: 12.25rem;
   height: 3rem;
   width: 23.94rem;
   padding-left:0.875rem;
   background-color: rgba(0,0,0,0);
   left: 0.875rem;
   color:white;
}
.repasswords{
  position: absolute;
  border-radius:0.5rem;
   top: 17.5rem;
   height: 3rem;
   width: 23.94rem;
   padding-left:0.875rem;
   background-color: rgba(0,0,0,0);
   left: 0.875rem;
   color:white;
}
#form2 button{
  position: absolute;
  cursor: pointer;
  width: 12.492rem;
  top: 23.40rem;
  left: 7.65rem;
  height: 2.481rem;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  color:white;
}
#customer{
  position: absolute;
  top: 27.34rem;
  font-weight: 900;
  font-size: 1.17rem;
  left: 6.3rem;
  color:rgba(255,255,255,0.6);
}
#customer a{
    color:white;
    text-decoration: none;
}
#errors1 {
  position: absolute;
  top: 8.4vh;
  color: #DB0007;
  font-size: 1vw;
  left: 1.5vw;
  font-weight: bold;
  z-index: 2;
  display:none;
}
#errors2 {
  position: absolute;
  top: 10.2rem;
  font-size: 0.9rem;
  color:rgba(255,255,255,0.8);
  left: 2rem;
  font-weight: bold;
  display:none;
}
#errors3 {
  position: absolute;
  top: 25.6vh;
  font-size: 1vw;
  color:#DB0007;
  left: 1.5vw;
  font-weight: bold;
  display:none;
}
#errors4 {
  position: absolute;
  top: 20.6rem;
  font-size: 0.9rem;
  color:rgba(255,255,255,0.8);
  left: 2rem;
  font-weight: bold;
  display:none;
}
#backendmssg2{
  position:absolute;
  top:12rem;
  left:57.2rem;
  width:500px;
  color:rgba(255,255,255,0.6);
  font-size: 1.71rem;
}
@media (max-width:500px){
  #log1{
    font-size:6rem;
    top:18rem;
    left:34rem; 
  }
  #auths {
    left:23rem;
    top: 45.88rem;
  }
  .fullname{
    top: 1.73rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  .emails {
    top: 11rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  .passwords {
    top: 20rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  .repasswords {
    top: 29rem;
    height: 5rem;
    width: 40.94rem;
    font-size:2rem;
  }
  #eye1 {
    position: absolute;
    z-index: 2;
    top: 21.4rem;
    right: -14.5rem;
    color:white;
    font-size:2rem;
  }
  #eye2 {
    position: absolute;
    z-index: 2;
    top: 30.4rem;
    right: -14.5rem;
    color:white;
    font-size:2rem;
  }
  #errors2 {
    top: 16rem;
    font-size: 2rem;
    width:700px;
    left: 3rem;
  }
  #errors4 {
    top: 34rem;
    font-size: 2rem;
    width:700px;
    left: 3rem;
  }
#form2 button {
    width: 20.492rem;
    top: 38.40rem;
    left: 13.65rem;
    font-size:2rem;
    height: 4.481rem;
  }
  #customer{
    top: 44.37rem;
    left: 5rem;
    font-size: 3rem;
    width:600px;
  }
  #backendmssg2{
    top:41rem;
    left:33.2rem;
    width:500px;
    font-size:3rem;
  }
}