*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow:hidden;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color:rgb(247, 213, 176);
}
#back{
position: absolute;
height: 85vh;
width:100vw;
right: 0.347vw;
top: 14vh;
}
nav{
    position: absolute;
    height:10vh;
    width:100vw;
    left: 0vw;
    right: 0vw;
    top: 0vh; 
    background: #FFBC0D;
}
nav ul{
    display:flex;
    list-style: none;
    float:right;
}
nav ul li{
    padding:4vh 2vw; 
    font-size: 2vh;
}
nav ul li a{
    text-decoration: none;
    color: #DB0007;
  
}
nav ul li a:active,:visited{
    padding:1vh;
    background-color: white;
    border-radius: 10px;
}
#logos{
    position: absolute;
    /* width: 13.194vw;
    height: 5.02vh; */
    left: 2vw;
    top:3.2vh;
    bottom:1.3vw;
    z-index:7;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size:3.9vh;
    color: #DB0007; 
}
@media (max-width:600px){
    nav{
        height:6vh;
    } 
    #logos{
        width: 20vh;
        height: 7vh;
        left: 3vw;
        top:1vh;
        font-weight: 900;
        font-size:3vh;
    }
    nav ul li{
        padding:2vh 1vh; 
        font-size: 1.5vh;
    }
}