*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow:hidden;
}
body{
    background-color:rgb(247, 213, 176);
}
#back{
position: absolute;
height: 680px;
width:1440px;
top: 107px;
left: 1px;
right: -1px;

}
nav{
    position: absolute;
width: 1400px;
height: 81px;
left: 20px;
top: 13px;

background: #A289D1;
    /* position: absolute;
    width: 1440px;
    height: 81px;
    background: #A289D1;
} */
}
nav ul{
    display:flex;
    list-style: none;
    float:right;
}
nav ul li{
    padding:3vh; 
    font-size: 3vh;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
nav p{
    padding:2vh;
    float:left;
    color:brown;
    font-weight: bold;
    font-size: 5vh;
}
nav i{
    float:right;
   padding:3vh;
    color:white;   
}
#check{
 display:none;
}

@media (max-width:700px){
    #check{
        display:block;
       }  
       nav ul{
        width:100%;
        background-color: rgb(247, 180, 129);
        position:fixed;
        text-align: center;
        transition: all .5s;
        top:10vh;
        left:-100vh;
        height:100vh;
        flex-direction: column;
       }
       nav ul li{
        padding:6vh;
        font-size:4vh;
       }
}
@media (max-width:230px){
    nav i{
        float:right;
       padding:0.1vh;
        color:white;
    }
}