#hello{
    color:white;
}
#userprofname{
    color:white;
    font-size:1.5rem;
    margin-top:0px;
    text-align: left;
}
#userprofname3{
    color:white;
    font-size:1rem;
    margin-top:0px;
    text-align: left;
}
#spacing{
    margin-top:30px;
    margin-left:50px;
}
#sellerloginhead2{
    color: #ffffff;
  font-size: 2.52rem;
  margin-top:10px;
  text-align: center;
}
#sellerloginform2 input{
    background-color: rgba(255, 255, 255, 0);
    border:1px solid white;
    padding:0.7rem;
    width: 23.94rem;
    color:white;
    border-radius:0.5rem;
    margin-bottom:30px;
}
#profilephoto{
    cursor: pointer;
    margin-top:1rem;
    margin-left:8rem;
    margin-bottom: 20px;
    width: 12.492rem;
    height: 2.481rem;
    background-color:  #DB0007;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    color:white; 
    text-align: center;
}
#userprofname2 a{
    color:white;
    font-size:1.5rem;
margin-left:130px;
cursor:pointer;
text-decoration: none;
}
#orderhistory{
   color:white; 
   margin-top:300px;
}
#myname2 {
    margin-left: 48px;
    font-size: 1.3rem;
  }
#padder2{
    margin-top:100px;
} 
#userprofnamebtn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-left:190px;
}
#userprofnamebtn a{
    color:red;
    text-decoration: none;
    font-size:1.5rem;
}